body{
	background-color:crimson;
}

.top-nav {
	margin: 0 auto;
	padding: 0;
	text-align:center;
	position: relative;
}
.top-nav ul{
	list-style:none;
}

.top-nav li {
	display: inline;
	list-style-type: none;
}

.top-nav a {
	display: inline-block;
	padding: 10px 16px;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
	color: #fff;
}

.nav-center {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
}